.text-field__input {


	font-family: inherit;

	max-width: 320px;
	min-height: 44px;

	padding-left: 15px;

	background: #ffffff;
	color: $dark-shade-25;
	border: 1px solid;
	border-color: $dark-shade-25;
	box-sizing: border-box;
	border-radius: 4px;

	&:hover , &:focus {

		border-color: $dark-shade-50;
		color: $dark-shade-75;
		outline: none;
	}

	&::placeholder {
		color: $dark-shade-50;
	}
}
