include ../../stretch-input/stretch-input.pug

mixin number-field-input(options)
  
  .number-field__input
    input.minus(type='button' value=' - ')
    +stretch-input()
    input.plus(type='button' value=' + ')
