include ../../stretch-input/stretch-input.pug

mixin number-field-input(options)
  
  .number-field__input
    input.minus.disabled(type='button' value=' - ' disabled)
    +stretch-input(options)
    input.plus(type='button' value=' + ')
