.number-field__input {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.minus,
.plus {

  box-sizing: border-box;

  width: 30px;
  height: 30px;

  border: 1px solid $dark-shade-25;
  border-radius: 22px;

  color: $dark-shade-50;
  background: none;

  cursor: pointer;

}
