@font-face {
	font-family: 'Montserrat';
	src: url('../assets/fonts/Montserrat-Bold.woff') format('woff'),
	     url('../assets/fonts/Montserrat-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}
@font-face {
 	font-family: 'Montserrat';
 	src: url('../assets/fonts/Montserrat-Regular.woff') format('woff'),
 	     url('../assets/fonts/Montserrat-Regular.woff2') format('woff2');
 	font-weight: normal;
 	font-style: normal;
}
@font-face {
	font-family: 'MaterialIcons';
	src: url('../assets/fonts/MaterialIcons-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
