@import "colors";
@import "fonts";
@import "./fab/fontawesome";
@import "./fab/brands";

@import "./date-picker/objects";
@import "./date-picker/datepicker";
@import "./date-picker/datepickerNav";
@import "./date-picker/datepickerBody";
@import "./date-picker/datepickerCell";
@import "./date-picker/datepickerTime";
@import "./date-picker/datepickerButtons";
@import "./date-picker/datepickerVars";

@import 'blocks/field/field';
@import "blocks/button/button";
@import 'blocks/dropdown/dropdown';
@import 'blocks/number-picker/number-picker';
@import 'blocks/date-picker/date-picker';
@import 'blocks/subscribe-field/subscribe-field';


body {

	box-sizing: border-box;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;

  min-height: 96vh;
  width: 100%;

  overflow-x: hidden;
  overflow-y: auto;

	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: $dark-shade-75;

	h1 {
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		color: $dark-shade-100;
	}

	h2 {
		font-weight: bold;
		font-size: 19px;
		line-height: 23px;
		color: $dark-shade-100;
	}

	h3 {
		font-weight: bold;
		font-size: 12px;
		line-height: 15px;
		color: $dark-shade-100;
		text-transform: uppercase;

	}
}

.material-icons {
	font-family: 'MaterialIcons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
}
