@import "colors";
@import "fonts";
@import "./fab/fontawesome";
@import "./fab/brands";


@import "../components/blocks/text-field/text-field";
@import "../components/blocks/dropdown/dropdown";
@import "../components/blocks/stretch-input/stretch-input";
@import "../components/blocks/number-field/number-field";


body {

	box-sizing: border-box;


	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: $dark-shade-75;

	h1 {
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		color: $dark-shade-100;
	}

	h2 {
		font-weight: bold;
		font-size: 19px;
		line-height: 23px;
		color: $dark-shade-100;
	}

	h3 {
		font-weight: bold;
		font-size: 12px;
		line-height: 15px;
		color: $dark-shade-100;
		text-transform: uppercase;

	}
}

.material-icons {
	font-family: 'MaterialIcons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
}
