include ./__select/__select.pug
include ./__menu/__menu.pug

mixin dropdown(options = {})

	.dropdown
		+dropdown-select(options)
		if block
			+dropdown-menu(options)
				block
		else
			+dropdown-menu(options)
