@import './__select/__select';
@import './__menu/__menu';
@import './__btns/__btns';

.dropdown {
	
  width: 320px;

	outline: none;
	transition: all .5s ease;

	.dropdown__menu {

		overflow: hidden;
		display: none;
		overflow-y: hidden;
		z-index: 9;
	}
}
