include ./__select/__select.pug
include ./__menu/__menu.pug

include ../date-picker/calendar/calendar.pug

mixin dropdown(options = {})

  -
    const { dropdownClass } = options;

  .dropdown(class=dropdownClass)
    +dropdown-select(options)
    if block
      +dropdown-menu(options)
        block
    else
      +dropdown-menu(options)
