.dropdown {
	
  width: 320px;

	outline: none;
	transition: all .5s ease;

	.dropdown__menu {

		overflow: hidden;
		display: none;
		overflow-y: hidden;
		z-index: 9;
	}
}

@import './__head/__head';
@import './__body/__body';
