include ../components/blocks/text-field/text-field.pug

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title Frontend-step2
    link(rel='stylesheet' href='styles.css')
  body
    +text-field()(placeholder='Email')
    +text-field()(placeholder='Hi')
