include ../components/blocks/date-picker/date-picker.pug

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title Frontend-step2
    link(rel='stylesheet' href='styles.css')
  body
    .center
      +date-picker({btns: true,doubleSelect: true,select: ['ДД.ММ.ГГГГ','ДД.ММ.ГГГГ'],gap: true})
