include ../components/blocks/masked-text-field/masked-text-field.pug

include ../components/blocks/text-field/text-field.pug


doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title Frontend-step2
  body

  +masked-text-field()
  +masked-text-field({ iplaceholder: 'ММ.ДД.ГГГГ' })
  +masked-text-field({ iplaceholder: 'ММ.ДД.ГГГГ' })
  +masked-text-field({ iplaceholder: 'ММ.ДД.ГГГГ' })
