doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		title Frontend-step2
	body
		h1 Hello!
		h2 Next one is the item title inside widgets
		h3 this is a label or cta text

		p 
			This is the body text which is used for most
			of the design, like paragraphs, lists, etc.
