include ../components/blocks/text-field/text-field.pug

include ../components/blocks/dropdown/dropdown.pug

include ../components/blocks/stretch-input/stretch-input.pug

include ../components/blocks/number-field/number-field.pug

include ../components/blocks/guests-picker/guests-picker.pug

include ../components/blocks/masked-text-field/masked-text-field.pug


doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title Frontend-step2
  body

  +masked-text-field()
  +masked-text-field({ iplaceholder: 'ММ.ДД.ГГГГ' })
