.button_filled {
  box-sizing: border-box;
  width: 99px;
  height: 44px;
  text-transform: uppercase;
  cursor: pointer;
  appearance: none;

  border-radius: 22px;
  border: none;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  color: #fff;
  font-weight: bold;
  font-family: inherit;
  transition: opacity .3s ease;

  &:hover {
    opacity: 0.5;
  }

  &_disabled {
    opacity: 0.5;
  }
}
