include ../text-field/text-field.pug

mixin masked-text-field(options = {})
  -
    const  {
                      classID= 'masked-text-field',
                      iplaceholder= 'ДД.ММ.ГГГГ'
    } = options;

  +text-field({classID,iplaceholder})
