@font-face {
	font-family: 'MyFont';
	src: url('./Terminess (TTF) Bold Nerd Font Complete.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

.hello {
	color: red;
	font-family: 'MyFont';
	background: url('./calendar.png');
}
